.myclass {
  background: #F0F0F0;
}
.myclass {
  color: #A52A2A;
}
.myclass {
  background-color: #81F7D8;
}
.myclass2 {
  background-color: #ca428b;
}
.myclass3 {
  font-size: 25px;
  color: dodgerblue;
}
.myclass4 {
  color: mediumseagreen;
}
