		
		body { background-image: linear-gradient(to right, rgb(201, 95, 201), rgb(72, 116, 196));
		}
		* {margin: 0;
		   box-sizing: border-box;
		}
		.app-wrap { max-width: 	450px;
					max-height: 75vh;
					margin: 100px auto;
					border-style: solid;
					border-color: black;
					border-radius: 10px;
					border-width: 10px 10px 40px;
					box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
					display: flex;
					flex-direction: column;
		}
		.app-wrap > * { flex: 1 1 auto;
		}
		.app-header { background-color: gold;
					  padding: 15px;
					  display: flex;
					  align-items: center;
					  justify-content: space-between;
		}
		
		.button { color: white;
				  text-decoration: none;
				  background-color: rgba(0, 0, 0, 0.2);
				  padding: 5px;
				  border-radius: 3px;
		}
		.content { background-color: white;
				   padding: 10px;
				   overflow-y: scroll;
		}
		.content > p { padding: 0;
		}
		.content > img {margin: 10px 10px 10px 0;
		}
		.image-1 { max-width: 50%;
				   float: left;
		}
		.app-footer { background-color: gold;
					  display: flex;
		}
		.app-footer > a { border-right: 2px solid rgba(0, 0, 0, 0.1);
		}
		.app-footer > a:last-child { border-right: none;
		}
		.app-footer > a { flex: 1;
						  text-align: center;
		}
		.button-2 { text-decoration: none;
					color: black;
					padding: 10px;
		}