/* multiply it multiplies two colors and returns a resultant color, dark color*/
.color1 {
  color: #000000;
  background-color: #000000;
}
/* screen it takes two colors and returns a brighter color.
 It works opposite of multiply function. */
.color2 {
  color: #ffffff;
  background-color: #ff66ff;
}
/* overlay It generates result by combining the effect of multiply and screen.*/
.color3 {
  color: #ffffff;
  background-color: #ff0000;
}
/* softlight It works similar to overlay but it uses only a part of the color,
 which soft-highlights the other color. */
.color4 {
  color: #ffffff;
  background-color: #ff2900;
}
/* hardlight It works similar to overlay but the role of the colors reversed.*/
.color5 {
  color: #000000;
  background-color: #0000ff;
}
/* difference it subtracts the second input color from the first input color.*/
.color6 {
  color: #e16f00;
  background-color: #cc3333;
}
/* exclusion It works similar to difference function but with lower contrast.*/
.color7 {
  color: #e16f00;
  background-color: #cc7033;
}
/* average It computes the average of two input colors on
 a per-channel (RGB) basis. */
.color8 {
  color: #808080;
  background-color: #803380;
  border: 1px solid #555500;
}
/* negation it works opposite to difference function,
 which subtracts first color from second color. */
.color9 {
  color: #e16f00;
  background-color: #cc9933;
}
