.container h1 {
  font-size: 25px;
  color: #E45456;
}
.container p {
  font-size: 25px;
  color: #3C7949;
}
.container .nyclass h1 {
  font-size: 25px;
  color: #E45456;
}
.container .nyclass p {
  font-size: 25px;
  color: #3C7949;
}
