/* The @import (multiple) keyword enables you to
 import multiple files with the same name. */
.style {
  font-family: "Comic Sans MS";
  font-size: 20px;
}
.style {
  font-family: "Comic Sans MS";
  font-size: 20px;
}
.para1 {
  color: blue;
}
.para2 {
  color: green;
}
