.myclass {
  color: #FE9A2E;
  padding: 12px;
}
.class1 {
  color: #F5A9D0;
  font-size: 20px;
}
.class2 {
  color: #F79F81;
  font-size: 20px;
}
.class3 {
  color: black;
  font-size: 10px;
}
.myclass2 {
  color: #b30000;
}
